/* Header design is in all Portfolio documents */
header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #cccccc;
    border-bottom-style: solid;
    width: 960px;
    align-content: center;
    text-align: center;
}

/* h1 is design is in all Portfolio documents. */
h1 {
    background-color: #4aaaa5;
    padding: 10px;
    width: 30%;
    text-align: center;
}

/* ul is in index.html doc only. */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* li is in index.html doc only. */
li {
    float: right;
}

/* li is in index.html doc only. */
li a {
    display: block;
    color:#777777;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

/* li is in index.html doc only. */
li a.hover {
    background-color: #4aaaa5;
}

/* body design is in all Portfolio documents */
body {
    background-image: url("dynamic-style.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    align-content: center;
    align-items: center;
    width: 100%;
}

/* .main is in index.html doc only. */
.main {
    width: 960px;
}

/* .container is in index.html doc only. */
.container {
    padding: 40px;
    margin: 10px;
    background-color: #ffffff;
}

/* body design is in all Portfolio documents */
h2 {
    color:#4aaaa5;
    border-color: #dddddd;
    border-bottom-style: solid;
}

/* #bio-paragraph is in index.html doc only. */
#bio-paragraph {
    width: 100%;
    line-height: 2em;
}

/* #ashley-headshot is in index.html doc only. */
#ashley-headshot {
    float: left;
    width: 150px;
    height: 150px;
    padding: 5px;
}

/* footer design is in all Portfolio documents */
footer {
    background-color: #666666;
    text-align: center;
    border-color: #4aaaa5;
    border-top-style: solid;
    width: 960px; 
}

/* .contact-form is in contact.html doc only. */
.contact-form {
    background-color: #ffffff;
    padding: 0px 12px 12px 12px;
    float: center;
    line-height: 1.5em;
}

/* form is in contact.html doc only. */
form {
    padding: 12px 12px;
    resize: vertical;
    width: 100%;
}

/* .message is in contact.html doc only. */
.message {
    height: 150px;
    width: 150px;
}

/* .submit is in contact.html doc only. */
.submit {
    background-color: #4aaaa5;
    padding: 12px;
    color: white;
}

/* .Portfolio is in portfolio.html doc only. */
.Portfolio {
    background-color: #ffffff;
}

/* .images is in portfolio.html doc only. */
.images {
    position: relative;
    color: white;
}

/* #portfolio1 is in portfolio.html doc only. */
#portfolio1 {
    height: 150px;
    width: 150px;
}

