header {
    width: 100%;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #cccccc;
    border-bottom-style: solid;
    padding-left: 100px;
}

/* Header in all Portfolio documents */
.header-content {
    width: 960px;
    padding: 40px 0px 20px 100px;
    position: relative;  
}

.clearfix {
    content:"";
    display: block;
    clear: both;
}

/* h1 in all Portfolio documents. */
h1 {
    background-color: #4aaaa5;
    position: absolute;
    bottom: 0px;
    top: 0px;
    padding: 20px;
    float: left;
    color: #ffffff;
    margin: auto;
}

/* ul is in index.html doc only. */
ul {
    list-style-type: none;
    position: relative;
    bottom: 30px;
    left: 80px;
}

/* li is in index.html doc only. */
li a {
    float: right;
    display: block;
    color:#777777;
    padding: 10px;
    text-decoration: none;
}

/* li is in index.html doc only. */
li a:hover {
    background-color: #4aaaa5;
}

/* body design is in all Portfolio documents */
body {
    background-image: url("dynamic-style.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 0px;
    align-content: center;
}

/* .container is in index.html doc only. */
.container {
    padding: 10px 40px 20px 40px;
    margin: 20px auto;
    background-color: #ffffff;
    width: 960px;
    align-content: center;
}

/* body design is in all Portfolio documents */
h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #dddddd;
    border-bottom-style: solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* #bio-paragraph is in index.html doc only. */
#bio-paragraph {
    width: 100%;
    line-height: 2em;
}

/* #ashley-headshot is in index.html doc only. */
#ashley-headshot {
    float: left;
    width: 160px;
    height: 160px;
    padding: 5px 20px 5px 5px;
}

/* footer design is in all Portfolio documents */
footer {
    background-color: #666666;
    padding: 20px;
    border-color: #4aaaa5;
    border-top-style: solid;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

/* form is in contact.html doc only. */
form {
    line-height: 1.5em;
}

.name {
    height: 20px;
    width: 960px;
    margin-bottom: 10px;
}

.email {
    height: 20px;
    width: 960px;
    margin-bottom: 10px;
}

/* .message is in contact.html doc only. */
.message {
    height: 150px;
    width: 960px;
    margin-bottom: 10px;
}

/* .submit is in contact.html doc only. */
.submit {
    background-color: #4aaaa5;
    padding: 12px 20px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

/* .images is in portfolio.html doc only. */
.images {
    position: relative;
    top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#portfolio-links {
    height: 150px;
    width: 200px;
    position: relative;
}

.labels {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 0px;
    width: 200px;
    text-align: center;
}