header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #cccccc;
    border-bottom-style: solid;
    width: 960px;
    align-content: center;
    text-align: center;
}

h1 {
    background-color: #4aaaa5;
    padding: 10px;
    width: 30%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}
li a {
    display: block;
    color:#777777;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a.hover {
    background-color: #4aaaa5;
}
.about-me-link {

}
.portfolio-link {
   
}

.contact-link {
   
}

body {
    background-image: url("dynamic-style.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    align-content: center;
    align-items: center;
    width: 100%;
}

.main {
    width: 960px;
}
.container {
    padding: 40px;
    margin: 10px;
    background-color: #ffffff;
}

h2 {
    color:#4aaaa5;
    border-color: #dddddd;
    border-bottom-style: solid;
}

#bio-paragraph {
    width: 100%;
    line-height: 2em;
}

#ashley-headshot {
    float: left;
    width: 150px;
    height: 150px;
    padding: 5px;
}

footer {
    background-color: #666666;
    text-align: center;
    border-color: #4aaaa5;
    border-top-style: solid;
    width: 960px; 
}

.contact-form {
    background-color: #ffffff;
    padding: 0px 12px 12px 12px;
    float: center;
    line-height: 2em;
}
form {
    padding: 12px 12px;
    resize: vertical;
    width: 100%;
}

.message {
    height: 150px;
    width: 150px;
}

.submit {
    background-color: #4aaaa5;
    padding: 12px;
    color: white;

}

